$darkLiver: rgba(78, 77, 92, 1);
$brickRed: rgba(196, 59, 91, 1);
$x11Gray: rgba(192, 188, 181, 1);
$englishGreen: rgba(29, 76, 92, 1);
$englishGreenL1: desaturate(lighten(rgba(29, 76, 92, 1), 15%), 15%);
$eggShell: #E3E7D3;
$grayText: #918e88;
$blackText: #404045;
$whiteText: #f2f1e9;
$white: #fffffd;
$boxShadow: 0px 1px 4px rgba(0,0,0,.2);
$boxShadowDragging: 1px 1px 6px rgba(0,0,0,.35);