@import "./variables.scss";

html, body, #root {
    background-color: $white;
    height: 100%;
    margin: 0;
    font-family: "Lucida Console", courier, sans-serif;;
}
.workspace {
    display:flex;
    min-height: 100%;
    >*{
        &:first-child {
            margin-left: 0;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 30%;
    min-height: 200px;
    padding: 5px;
    &.dragging {
        background: $eggShell;
    }
    >* {
        padding: 10px;
        box-shadow: $boxShadow;
        background: $white;
        margin-bottom: 5px;
        &.dragging {
            background: lighten($englishGreenL1, 10%);
            color: $white;
            box-shadow: $boxShadowDragging;
            .title {
                color: $white;
            }
            .subtitle {
                color: $eggShell;
            }
        }
    }
}