@import "./variables.scss";

html, body, #root {
    background-color: $white;
    height: 100%;
    margin: 0;
    font-family: "Lucida Console", courier, sans-serif;;
}
.app {
    padding: 10px;
    min-height: 100%;
}
.workspace {
    margin-top: 55px;
    display:flex;
}
.section-title {
    font-size: 16px;
    font-weight: 100;
    color: $redwood;
    margin: 5px 0;
}
.column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 30%;
    min-height: 200px;
    >* {
        padding: 10px;
        box-shadow: $boxShadow;
        background: $white;
        margin-bottom: 5px;

    }
}

.sitescript-section {
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 1px;

    .sitescript-name {
        margin-bottom: 7px;
        max-width: 300px;
        .is-active .ms-TextField-wrapper {
            border-bottom-color: $blueYonder;
        }
        .ms-TextField-fieldGroup {
            height: 30px;
            input {
                font-size: 17px;
                font-weight: 200;
                padding-left: 0;
            }
        }
    }
    .sitescript-content {
        background: $spaceCadet;
        padding: 10px;
        border-radius: 4px;
        display: flex;
    }
}