@import "../../variables.scss";

.subactions {
    position: relative;
    
    .actions.column {
        padding: 10px 5px;
        min-width: 100%;
        box-sizing: border-box;
        min-height: 0;
    }
}