@import "../variables.scss";

.action-definitions {
    > .title {
        font-size: 16px;
        font-weight: 100;
        color: $englishGreenL1;
        margin: 5px 0;

    }
    .filter {
        margin: 5px 0;
    }
}