@import "../variables.scss";

.action-definition {
    max-width: 200px;
    box-sizing: border-box;
    border-radius: 3px;
    &.dragging {
        background: lighten($englishGreenL1, 10%);
        color: $white;
        box-shadow: $boxShadowDragging;
        .hover-card { display: none;}
        .title {
            color: $white;
        }
        .subtitle {
            color: $eggShell;
        }
    }
    .subtitle {
        font-size: 11px;
        color: lighten($brickRed, 15%);
        letter-spacing: .7px;
    }
    .title {
        color: $blackText;
        position: relative;
        // margin: 3px 0 5px 0;
    }
}