@import "../variables.scss";

.action-definition {
    max-width: 200px;
    box-sizing: border-box;
    border-radius: 3px;
    &.dragging {
        border-left: 4px solid $blueYonder;
        background: $floralWhite;
        color: $white;
        box-shadow: $boxShadowDragging;
        .hover-card { display: none;}
        .title {
            color: $spaceCadet;
        }
    }
    .subtitle {
        font-size: 11px;
        color: $redwood;
        letter-spacing: .7px;
    }
    .title {
        color: $gunMetal;
        position: relative;
        // margin: 3px 0 5px 0;
    }
}