@import "../variables.scss";

.action-definition .hover-card {
    position: absolute;
    left: 95%;
    top: -80px;
    // padding: 10px;
    box-shadow: -2px 1px 13px rgba(0,0,0,.3);
    border-radius: 3px;
    background: $blueYonder;
    width: 650px;
    box-sizing: border-box;
    z-index: 99;
    .header {
        padding: 10px 20px;
        .title {
            color: #fffffd;
            font-weight: 300;
            font-size: 23px;
            position: relative;
            left: -1px;
        }
    }
    .body {
        padding: 10px 20px 20px 20px;
        background: $white;
        border-radius: 0 0 3px 3px;
        .subtitle {
            color: $redwood;
            font-size: 15px;
            font-weight: 100;
            letter-spacing: 0px;
            line-height: 20px;
            font-family: consolas, 'courier new';
        }
        .description {
            font-size: 14px;
            margin: 10px 0 20px 0;
        }
        .properties {
            .title {
                font-size: 14px;
                margin: 10px 0 5px 0;
                color: $grayText;
                letter-spacing: .5px;
            }
            $tableBorderColor: darken($whiteText, 5%);
            table {
                font-size: 13px;
                background: $white;
                color: $blackText;
                border-radius: 2px;
                width: 100%;
                border-top: 1px solid $tableBorderColor;
                // border-right: 1px solid $tableBorderColor;
                th {
                    text-align: left;
                }
                tr {
                    border-top: 1px solid $tableBorderColor;
                }
                tr td:first-child {
                    font-weight: bold;
                }
                td {
                    padding: 10px 15px 10px 0px;
                }
            }
    }
    }
}