@import "../variables.scss";
.editor-container {
    margin-left: 10px;
    flex: 1 5 400px;
    min-width: 500px;
    .CodeMirror-selected {
        background: #f4f3f4;
    }
    .CodeMirror {
        background: $white;
        border: none;
        border-radius: 3px;
        font-size: .9em;
        pre {
            color: $gunMetal;
            .cm-string {
                color: $redwood;
            }
            .cm-string.cm-property {
                color: $spaceCadetL1;
            }
            .cm-atom {
                color: $darkLiver;
            }

        }
    }
}
